* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.125rem;
    background-color: hsl(0, 0%, 100%);
}

body p {
    font-size: 18px;
}

.idCard {
    display: flex;
    width: 48rem;
    max-width: 50rem;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.7rem;
    box-shadow: 1rem 1.5rem 3rem .5rem hsl(221, 100%, 96%);
}

.idCard .box1 {
    text-align: center;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.idCard .box1 h2 {
    font-weight: 400;
    color: hsla(222, 100%, 96%, 0.80);
    margin: 40px;
}

.score {
    margin: auto;
    border: 1 rgba(255, 255, 255, 0) solid;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score h1 {
    color: white;
    margin: auto;
    font-size: 70px;
    padding-top: 50px;
}

.score p {
    color: hsla(222, 100%, 96%, 0.514);
    font-weight: 700;
    margin-top: 0;
}

.des1 h1 {
    margin-top: 25px;
    color: white;
    font-weight: 400;
}

.des1 p {
    margin-bottom: 0px;
    padding: 0px 60px 0px 60px;
    color: hsla(222, 100%, 96%, 0.80);
}

h2 {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: auto;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
    padding: 15px;
    border-radius: .7rem;
}

ul li img {
    padding-right: .6rem;
}

ul li h3 {
    font-size: 1.14rem;
    padding-right: 4.0rem;
}

ul li p {
    font-size: 1.14rem;
    margin: 0;
    /* Add the following properties to display the <p> in the same line */
    flex-grow: 1;
    text-align: right;
}

.box2 {
    font-weight: 800;
    padding: 40px 20px 40px 40px;
}

ul li span {
    font-size: 20px;
    color: hsl(224, 30%, 27%, .5);
    font-weight: 800;
    padding-left: 10px;
}


#reac {
    background-color: hsla(0, 100%, 67%, .06);
}

#reac h3 {
    color: hsla(0, 100%, 67%);
}

#mem {
    background-color: hsla(39, 100%, 56%, .06);
}

#mem h3 {
    color: hsla(39, 100%, 56%);
}

#ver {
    background-color: hsla(166, 100%, 37%, .06);
}

#ver h3 {
    color: hsla(166, 100%, 37%);
}

#visual {
    background-color: hsla(234, 85%, 45%, .06);
}

#visual h3 {
    color: hsla(234, 85%, 45%);
}

.button {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border: none;
    border-radius: 30px;
    color: white;
    padding: 20px 7.0rem;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin: 18px 0px 0px 0px;
    cursor: pointer;
}