* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;

}
body p {
    font-size: 18px;
}

.idCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.idCard .box1 {
    text-align: center;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.idCard .box1 h2 {
    font-weight: 400;
    color: hsla(222, 100%, 96%, 0.80);
    margin: 40px;
}

.score {
    margin: auto;
    border: 1 rgba(255, 255, 255, 0) solid;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score h1 {
    color: white;
    margin: auto;
    font-size: 70px;
    padding-top: 50px;
}

.score p {
    color: hsla(222, 100%, 96%, 0.514);
    font-weight: 700;
    margin-top: 0;
}

.des1 h1 {
    margin-top: 25px;
    color: white;
    font-weight: 400;
}

.des1 p {
    margin-bottom: 0px;
    padding: 0px 60px 0px 60px;
    color: hsla(222, 100%, 96%, 0.80);
}
